<div class="container">
    <hr style="height:2px;color:black;background-color:black">
    <footer>
        <div class="row">
            <div class="col-md-4 col-12" id="division1">
    
            </div>
            <div class="col-md-4 col-12 col-align-self-end" id="division2">
                <span style="color: darkgreen;"><b><u>Site Developed By:</u></b></span><br>
                <span><b><a href="{% url 'about' %}" style="color: darkmagenta;">MUNISH KUMAR GARG</a></b></span>
            </div>
            <div class="col-md-4 col-12" id="division3">
                <span style="color: darkgreen;"><b><u>Copyright:</u></b></span><br>
                <span><b>&copy; 2020 . All Rights Reserved</b></span>
            </div>
        </div>
    </footer>
</div>