<div class="container mt-3 border border-danger">
    <div class="row border border-danger">
        <div class="col-12">
        <h3 align="center" class="font" style="color: green;"><u>WORLD TALLY</u></h3>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3 align="center" class="font"><u>Total Cofirmed Cases</u></h3>
        <h5 align="center">{{globalInfo.TotalConfirmed}}</h5>
      </div>
      <div class="col-md-4">
        <h3 align="center" class="font"><u>Total Recovered</u></h3>
        <h5 align="center">{{globalInfo.TotalRecovered}}</h5>
      </div>
      <div class="col-md-4">
        <h3 align="center" class="font"><u>Total Deaths</u></h3>
        <h5 align="center">{{globalInfo.TotalDeaths}}</h5>
      </div>
    </div>
</div>